@import './global/elevation.scss';

.menu {
	display: block;
	background-color: var(--md-sys-color-surface-container);
	border-radius: 4px;
	min-width: 112px;
	max-width: 280px;
	padding-top: 8px;
	padding-bottom: 8px;
    //box-shadow: 0 1px 2px 1px rgba(var(--md-sys-color-shadow-rgb), 0.1), 0 3px 8px 3px rgba(var(--md-sys-color-shadow-rgb), 0.05);
	@include elevation(2);
	transition: opacity 0.2s ease, transform 0.2s ease;
	transform-origin: var(--anchor-position, center top);
	max-height: calc(50vh - 32px);
	overflow-y: auto;

	&.fullWidth {
		width: var(--anchor-element-width);
		max-width: unset;
		min-width: unset;
	}

	&.hide {
		pointer-events: none;
		opacity: 0;
		transform: scale(0.9);
	}

	&.animation:not(.hide) {
		:global{
			:is(.menu-item, .menu-divider) {
				animation-name: menu-unfold;
				animation-duration: 0.25s;
				animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
				animation-fill-mode: both;
				@for $i from 1 through 20 {
					&:nth-of-type(#{$i}) {
						animation-delay: 0.01s * $i;
					}
				}
				&:nth-of-type(n + 21) {
					animation-delay: 0.2s;
				}
			}
		}
	}

	&::-webkit-scrollbar {
		width: 6px;
		height: 8px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--md-sys-color-surface-variant);
	}
}
