.details-dialog {
	.dialog {
		min-width: min(100% - 48px, 450px) !important;
		.tabs {
			margin-left: -24px;
			margin-right: -24px;
			.tab-content {
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}
	.details-dialog-header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		gap: 16px;
		.cover {
			aspect-ratio: 1 / 1;
			width: 48px;
			height: 48px;
			border-radius:10px;
		}

		&.big {
			margin-left: -24px;
			margin-right: -24px;
			margin-top: -24px;
			width: calc(100% + 48px);
			aspect-ratio: 1/1;
			position: relative;
			.cover {
				width: 100%;
				height: unset;
				aspect-ratio: 1/1;
				border-radius: 24px 24px 0 0;
				display: block;
			}
			.name {
				position: absolute;
				left: 0px;
				bottom: 0px;
				right: 0px;
				padding: 24px;
				font-size: 125%;
				background: linear-gradient(0deg, #0006 20%, #0000 100%);
			}
		}
	}

	.list-item {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		font-size: 18px;
		gap: 8px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: -24px;
		margin-right: -24px;
		padding-left: 24px;
		padding-right: 24px;
		.headline {
			display: flex;
			gap: 0.4em;
			font-size: 16px;
			align-items: center;
			opacity: .8;
		}
		.content {
			line-height: 1.5;
			&.smaller {
				font-size: 85%;
			}
		}
	}

	.list-row {
		display: flex;
		flex-direction: row;
		gap: 0px;
		> * {
			border-radius: 8px;
			flex: 1;
		}
		> *:first-child {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		> *:last-child {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		> *:not(:first-child) {
			margin-left: 0px;
		}
		> *:not(:last-child) {
			margin-right: 0px;
		}
	}

	button {
		outline: none !important;
	}

	.no-scale-animation {
		transform: none !important;
	}


	.lyrics {
		.lyrics-control {
			display: flex;
			flex-direction: row;
			gap: 12px;
			flex-wrap: nowrap;
			margin-bottom: 15px;
			align-items: center;
			justify-content: center;
			.translation-selector {
				flex: 1;
			}
		}
		.lyrics-content {
			font-size: 16px;
			line-height: 1.5;
			.line {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 0.6em;
				.time-stamp {
					font-family: monospace;
				}
				&.interlude {
					opacity: .5;
					line-height: 1.8;
					.lyrics-text::before {
						content: '\266B';
					}
				}
			}
		}
	}
}


::view-transition-old(entry-details-dialog),
::view-transition-new(entry-details-dialog) {
	mix-blend-mode: plus-lighter;
	height: 100%;
	overflow: clip;
}
::view-transition-old(entry-details-dialog-cover),
::view-transition-new(entry-details-dialog-cover) {
	mix-blend-mode: plus-lighter;
	height: 100%;
	overflow: clip;
}