.list-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.list-section-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
		align-items: center;
		.list-header-buttons {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}
		@media screen and (max-width: 550px) {
			gap: 0;
			.song-type-filter {
				width: 100%;
			}
			.song-filter-btn:not(.for-mobile) {
				display: none;
			}
		}
	}
	.song-list {
		flex: 1;
		overflow: hidden;
		position: relative;
		.song-list-inner {
			width: 100%;
			height: 100%;
			overflow-y: auto;
			display: grid;
			//grid-template-columns: min(repeat(auto-fill, minmax(550px, 1fr)), 1fr);
			/*@media screen and (max-width: 600px) {
				grid-template-columns: 1fr;
			}*/
			row-gap: 20px;
			column-gap: 20px;
			//padding-right: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			.song {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 100px;
				transition: background-color 0.5s ease;
				.song-cover {
					height: 100%;
					aspect-ratio: 1 / 1;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					border-radius: inherit;
					margin-right: 20px;
					flex-shrink: 0;
				}
				.song-info {
					flex: 1;
					line-height: 1.8;
					width: 0;
					.song-title {
						display: flex;
						align-items: center;
						gap: 1em;
						.song-name {
							font-size: 1.2rem;
							font-weight: bold;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							max-width: 100%;
						}
					}
					.song-creators {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 0.4em;
						opacity: .8;
						white-space: nowrap;
						overflow: hidden;
						> * {
							display: flex;
							flex-direction: row;
							align-items: center;
							svg {
								margin-right: 0.2em;
							}
						}
					}
					.song-metas {
						font-size: 0.9em;
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 0.8em;
						opacity: .6;
						.song-instrumental-tag {
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 105%;
						}
					}
				}
				.song-actions {
					margin-right: 10px;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 4px;
					.playing-icon {
						font-size: 20px;
						pointer-events: none;
					}
					.auto-hide {
						opacity: 0;
						transition: opacity 0.2s ease;
					}
				}
				&.playing {
					background-color: var(--md-sys-color-secondary-container);
				}
				&:hover {
					.song-actions {
						.auto-hide {
							opacity: .4;
							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
			&::-webkit-scrollbar {
				width: 0px;
				background: transparent; /* make scrollbar transparent */
			}
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 10px;
			background: linear-gradient(to bottom, var(--md-sys-color-background), transparent);
			z-index: 1;
			pointer-events: none;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 10px;
			background: linear-gradient(to top, var(--md-sys-color-background), transparent);
			z-index: 1;
			pointer-events: none;
		}
	}
	@media screen and (max-width: 950px) {
		&.playing {
			.song-list-inner{
				padding-bottom: 210px;
			}
		}
	}
}
.song-filter-btn.for-mobile {
	display: none;
}
@media screen and (max-width: 550px) {
	.song-filter-btn.for-mobile {
		display: flex;
		position: fixed !important;
		z-index: 3;
		right: 8px;
		top: 12px;
		transition: opacity 0.5s ease;
		border: none;
	}
}


.list-section {
	container-type: size;
	container-name: list-section;
}
.list-style-switch-btn {
	display: none;
}
@media screen and (min-width: 551px) {
	@container list-section (min-width: 540px) {
		.list-style-switch-btn {
			display: flex;
		}
		.list-section.grid-view .song-list .song-list-inner{
			grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
			.song {
				flex-direction: column;
				width: 100%;
				height: unset;
				/*aspect-ratio: 1/1.2;*/
				.song-cover {
					width: 100%;
					height: unset;
					margin-right: 0;
					aspect-ratio: 1/1;
				}
				.song-info {
					width: 100%;
					padding: 15px 15px;
				}
				.song-actions {
					position: absolute;
					width: 100%;
					aspect-ratio: 1/1;
					align-items: flex-end;
					justify-content: flex-end;
					margin: 0;
					padding: 10px;
					gap: 10px;
					opacity: 0;
					transition: opacity 0.2s ease;
					.play-icon {
						display: flex;
						align-items: center;
						justify-content: center;
						overflow: hidden;
						cursor: pointer;
						user-select: none;
						border: none;
						outline: none !important;
						position: relative;
						padding: 0;
						background-color: var(--md-sys-color-primary-container);
						color: var(--md-sys-color-on-primary-container);
						height: 56px;
						width: 56px;
						border-radius: 24px;
						font-size: 24px;
						&.playing-icon {
							opacity: 0;
						}
					}
					.open-in-youtube {
						position: absolute;
						bottom: -52px;
						right: 6px;
						opacity: 1;
					}
				}
				&:hover {
					.song-info .song-title {
						padding-right: 24px;
					}
					.song-actions {
						opacity: 1;
					}
				}
			}
		}
	}
}





.song-filter-menu {
	margin-top: 10px;
}

@media screen and (max-width: 950px) {
	body.now-playing-expanded {
		.song-filter-btn {
			pointer-events: none;
			opacity: 0;
		}
	}
}










.missing-lyrics {
    background: var(--md-sys-color-error-container);
    color: var(--md-sys-color-error);
}

.lyrics-langs:not(.lyrics-lang-complete) {
    //background: var(--md-sys-color-tertiary-container);
    //color: var(--md-sys-color-tertiary);

	background-color: color-mix(in srgb, var(--md-sys-color-error-container) 40%, transparent 50%);
    color: var(--md-sys-color-error);
}